@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container_header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    width: 100%;
    height:10vh;
    background-color: transparent;
}
.container_header h1{
    font-weight: 700;   
}
.container_header div{
    margin-left: 8%;
}
.container_header nav{
    width: 50%;
}
.container_header ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-weight: 300;
}
.container_header li{
    display: flex;
    justify-content: center;
    width: 8vw;
    
}
.container_header li:hover{
    cursor: pointer;
    font-weight: 700;
}
.blue_Orange{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    background-image:url("assets/laranjaazul.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height:90vh;
    width: 100%;
}
.blue_Orange div{
    width: 100%;
    height: 10vh;
    background-color: white;
}
.blue_Orange h2{
    margin-left: 8%;
    font-size: 3rem;
}
.blue_Orange button{
    margin-left: 8%;
    font-weight: 300;
    height:10vh;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.3rem;
}
.blue_Orange button:hover{
    cursor: pointer;
}
.random_Pictures{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height:145vh;
    width: 88%;
    background-color: white;
    margin-top: 10vh;
    margin-left: 8%;
    
}
.random_Pictures img{
    
    width: 20vw;
    
}
.container_footer{
    display: flex;
    margin-left: 8%;
    justify-content: space-between;
    align-items: center;
    height:12vh;
}
.SocialMedias{
    display: flex;
    justify-content: space-evenly;
}
.container_footer p{
    width: 50%;
    height: 10vh;
    
}
body{
    background-color: white;
}