@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container_header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    width: 100%;
    height:10vh;
    background-color: transparent;
}
.container_header h1{
    font-weight: 700;   
}
.container_header div{
    margin-left: 8%;
}
.container_header nav{
    width: 40%;
}
.container_header ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-weight: 300;
}
.container_header li{
    display: flex;
    justify-content: center;
    width: 8vw;
    
}
.container_header li:hover{
    cursor: pointer;
    font-weight: 700;
}
.blue_Orange{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    background-image:url('C:\Users\Ryan\DevDoc\Desafio Final VnW -Portflow\assets\laranjaazul.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:100vh;
    width: 100%;
}
.blue_Orange h2{
    margin-left: 8%;
    font-size: 3rem;
}
.blue_Orange button{
    margin-left: 8%;
    font-weight: 300;
    height:10vh;
    background-color: darkcyan;
    border: none;
    color: white;
    font-size: 1.3rem;
}
.blue_Orange button:hover{
    cursor: pointer;
}
.random_Pictures{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height:100vh;
    width: 100%;
    background-color: white;
}
.container_footer{
    height:12vh;
}