@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container_header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    width: 100%;
    height:10vh;
    background-color: white;
}
.container_header figure{
    display: none;
}
.container_header h1{
    font-weight: 700;   
}
.container_header div{
    margin-left: 8%;
}
.container_header nav{
    width: 50%;
}
.container_header ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-weight: 300;
}
.container_header li{
    display: flex;
    justify-content: center;
    width: 8vw;
    
}
.container_header li:hover{
    cursor: pointer;
    font-weight: 700;
}
.blue_Orange{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    background-image:url("assets/laranjaazul.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height:90vh;
    width: 100%;
}
.blue_Orange div{
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    align-content: flex-start;
}
.blue_Orange h2{
    margin-left: 8%;
    font-size: 3rem;
}
.blue_Orange button{
    margin-left: 8%;
    font-weight: 300;
    height:15vh;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}
.random_Pictures{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height:155vh;
    width: 88%;
    background-color: white;
    margin-left: 8%; 
}
.random_Pictures img{
    width: 20vw; 
}
.random_Pictures img:hover{
    width: 21vw;
}
.container_footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height:12vh;
    background-color: transparent;
}
.SocialMedias{
    margin-left: 8%;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}
.container_footer div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_footer h3{
    padding-right: 2vw;
}
.container_footer p{
    width: 60%;
    font-size: 0.7rem;
    display: flex; 
    align-items: center;        
}
.container_footer button{
    display: none;
}
body{
    background-color: white;
}
@media (max-width:500px) {
    .container_header{
        flex-direction: row;
    }
    .container_header figure{
    display: block;
  }
  .container_header img{
      height: 10vh;
      margin-left: 4px;
      margin-top: 4px;
  }
  .container_header nav{
      display: none;
  }
  .container_header h1{
      width: 80%;
      margin-right: 30vw;
  }
  .blue_Orange{
      justify-content: flex-end;
      background-position: right;
  }
  .random_Pictures{
      flex-direction: column-reverse;
      flex-wrap: nowrap;
      width: 100%;
      height: 430vh;
      margin-left: 0;
  }
  .random_Pictures img{
      width: 60%;
  }
  .container_footer{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 30vh;
  }
  .SocialMedias{
      background-color: #7FDBD4;
      width: 100%;
      margin-left: 0;
  }
  .container_footer button{
      display: block;
      color:#CCCCCC ;
      background-color: #333333;
      height: 25px;
      width: 68px;
  }
  .container_footer div{
    display: flex;
    flex-direction: column;
  }
  .BackTop{
      width: 80px;
      height: 50px;
      margin-right: 0;
  }
}